///////////////////////////////////////////////////////////////////////////////////////////////////
// Fonts variables
///////////////////////////////////////////////////////////////////////////////////////////////////

$fa-font-path: '../../bower_components/font-awesome/fonts' !default;
$roboto-font-path: '../../bower_components/roboto-fontface/fonts' !default;



///////////////////////////////////////////////////////////////////////////////////////////////////
// Colors variables
///////////////////////////////////////////////////////////////////////////////////////////////////

// Colors
$white: #fff;



///////////////////////////////////////////////////////////////////////////////////////////////////
// Font variables
///////////////////////////////////////////////////////////////////////////////////////////////////

$main-font-family: 'Roboto', sans-serif;
$main-font-weight: 100;



///////////////////////////////////////////////////////////////////////////////////////////////////
// Other variables
///////////////////////////////////////////////////////////////////////////////////////////////////
